*{
  border-radius:0.4rem!important; 
}
body {
    background-color:  #F3EED9;
}

img { width: 100%; height: auto; }


.topnav {
    background-color: #A2B29F ;
    overflow: hidden;
    
  }
  
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #7c887a ;
    color: black;
  }
  

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav a.login {
    float:right;
}
.topnav a.logout {
  float:right;
}
.review_div{
  background-color: white;
  width: 490px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

.review_div:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.albumOne{
  margin-left: auto; 
  margin-right: 0;
}

.forum_titles{
  color: white; 
  margin: 20px;
}

.forum_small_titles{
  color: white;
  margin: 20px;
  margin-top: -10px;
}

.horizontal_container{
  display: flex;
  width: 70%;
  margin: 0 auto;
}


.forum_info {
  background-color: white;
  padding: 5px;
  margin: 5px;
  width: 500px;
  height: 495px;
  border: 2px solid orange;
}

.comment_box_forum{
  background-color: white;
  padding: 3px;
  margin: 5px;
  border: 2px solid orange;
  width: 50%;
}

