<div class = "albums">

    {% if all_content %}
      {% for content in all_content %}
      <div class = "album clickable" data-url="{% url 'review_site:content_page' content.content_type content.id %}">
        <div class = "albumImage">
          <img src="{{ MEDIA_URL }}{{ content.album_art }}" id="cover_art"/>
        </div>
        <div class = "albumInfo" >
          <p>{{ content.artist }}</p>
          <p>{{ content.name }}</p>
        </div>
      </div>
      {% endfor %}
    {% endif %}
</div>

