{% extends 'navbar_base.html' %}
{% load static %}

{% block styles_import %}  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/explore.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/content_page.css' %}" />
{% endblock %}


{% block body %}

<div class="container">
<div class="middle">
{% if content %}
  {% for content_item in content %}

  <div class="horizontal_container">
      <div class = "albumOneImage">
        <img src="{{ MEDIA_URL }}{{ content_item.album_art }}" id="cover_art" />
      </div>

      <div class="contentBlockInfo">
      <div class = "forumInfoAndComments">
        <p>{{ content_item.artist }}- {{ content_item.name }}</p>
        
        {% if reviews %}
        <p>Average Review- {{ average_rating }}   <span>&#9733;</span></p>
        <p>Reviews:</p>
        {% for review in reviews %}
          <ul>
              <li><a href="{% url 'review_site:forum' review_id=review.id %}">{{ review.title }}  ({{ review.rating }})- {{ review.user.username }} </a></li>
          </ul>
        {% endfor %}
      {% else %}
        <p>No reviews yet!</p>
      {% endif %}
      <a href="{% url 'review_site:post_review_existing' content_item.content_type content_item.id %}">Post a review</a>
      </div>
    </div>
    </div>
</div>
</div>

{% endfor %}
{% endif %}
{% endblock %}