{% extends 'navbar_base.html' %}
{% load static %}


{% block styles_import %}<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'music_review/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'music_review/index.css' %}" />
{% endblock %}


{% block body %}
<div class = "container">

  <div class = "middle">

    <div class = "content">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel"  class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <div class="carousel-inner">
            <div class="item active">
              {% if review_one %}
              <img src="{{ MEDIA_URL }}{{ review_one.music_item.album_art }}" alt="first album" >
              <p>{{ review_one.music_item.artist }}</p>
              <p>{{ review_one.music_item.name }}</p>
              <p>{{ review_one.rating }}   <span>&#9733;</span></p>
              {% else %}     
              <img src="{% static 'images/notFound.png' %}" alt="second album">
              <p>Album</p>
              <p>Not</p>
              <p>Found</p>
              {% endif %}
            </div>
      
            <div class="item">
              <img src="{{ MEDIA_URL }}{{ review_two.music_item.album_art }}" alt="second album">
              {% if review_two %}
              <p>{{ review_two.music_item.artist }}</p>
              <p>{{ review_two.music_item.name }}</p>
              <p>{{ review_two.rating }}   <span>&#9733;</span></p>
              {% else %}     
              <img src="{% static 'images/notFound.png' %}" alt="second album" style="width:100%;">
              <p>Album</p>
              <p>Not</p>
              <p>Found</p>
              {% endif %}
            </div>
          
            <div class="item">
              {% if review_three %}
                <img src="{{ MEDIA_URL }}{{ review_three.music_item.album_art }}" alt="third album" style="width:100%;">
                <p>{{ review_three.music_item.artist }}</p>
                <p>{{ review_three.music_item.name }}</p>
                <p>{{ review_three.rating }}   <span>&#9733;</span></p>   
              {% else %}     
                <img src="{% static 'images/notFound.png' %}" alt="second album" style="width:100%;">
                <p>Album</p>
                <p>Not</p>
                <p>Found</p>
              {% endif %}

            </div>
          </div>
        </div>
          
        <div class = "info">
         <div class = "infoTitle">
            <h2>Music Review Website</h2>
         </div> 
         <div class = "infoWriting">
            <p>Welcome to Melodic Musings, where every note tells a 
              story. Dive into our harmonious haven where we dissect 
              the latest tunes, unravel hidden gems, and explore the 
              beats that move us. From chart-toppers to indie darlings, 
              our passionate team of reviewers guide you through the 
              auditory landscape, offering insights, critiques, and 
              recommendations to feed your musical soul. Let Melodic 
              Musings be your compass in the vast sea of melodies.</p>
         </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}