
<!DOCTYPE	html>
{% load static %}


<html>
  <head>

    {% block styles_import %}
      <link rel="stylesheet" type="text/css" href="{% static 'music_review/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'music_review/index.css' %}" />
    {% endblock %}

  </head>

  <body>
    <div class = "topnav">
      <a href="{% url 'index' %}">Home</a>
      <a href = "{% url 'review_site:explore' %}">Explore</a>
      <a href = "{% url 'review_site:post_review' %}">Post a Review</a>
      <a href= "{% url 'review_site:music' %}">All Music</a>

      {% if user.is_authenticated %}
      {% endif %}

      <input type="text" placeholder="Search...">

      {% if not user.is_authenticated %}
        <a class = "login" href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>

    <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/review-jquery.js" %}" crossorigin="anonymous"></script>
    {% block body %}{% endblock %}
  </body>

</html>
