<!DOCTYPE	html>
{% load static %}


<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'music_review/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'music_review/index.css' %}" />

  </head>

  <body>
    <div class = "topnav">
      <a class = "active" href="{% url 'index' %}">Home</a>
      <a href = "{% url 'review_site:explore' %}">Explore</a>
      <a href = "{% url 'review_site:post_review' %}">Post a Review</a>

      {% if user.is_authenticated %}
        <!-- user one-to-one field with CustomUser? how to access profile -->
        <a href = "{% url 'profile' user.pk %}">Profile</a>
      {% endif %}

      <input type="text" placeholder="Search...">

      {% if not user.is_authenticated %}
        <a class = "login" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>

    <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/review-jquery.js" %}" crossorigin="anonymous"></script>
    {% block body %}{% endblock %}
  </body>

</html>