.container{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 90%;
  width:100%;
  max-height: 80%;
  margin:1%;
}

.filter{
  position: sticky; 
  top: 20px;
  height:100%;
  background-color: #89A4B7;
  display:flex;
  flex-direction: column;
  width:20%;
  margin-right: 2%;
  margin-left:auto;
}
.filter > div{
  margin:3%;
}

.filter > div > select{
  width:100%;
}

.filter > div > input{
  width:100%;
}

.albumsDiv {

  width:80%;
  height:auto;
  max-height: 80%;
  margin-left: 1%;
  margin-right: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.albums {
  background-color: #89A4B7;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height:auto;
}


.album {
  display: block;
  max-width: 23%;
  min-width: 23%;
  margin:1%;
  
}

.album:hover{
  background-color: #677d8d;
}

.albumInfo {
  margin:1%;
  
}