.container{
  width:100%;
  height:100%;
  max-width: 100%;
  max-height:100%;
  margin:0px;
  height:100vh;

}
.middle {
  display: flex;
  background-color: #89A4B7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width:100%;
  height:100%;
  max-width: 100%;
  max-height:100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom:auto;
  justify-content:center;
}

#myCarousel {
  background-color: #B0A89F;
  margin:1%;
  margin-right:auto;
  max-width: 30%;
  min-width: 30%;
  max-height: 40%;
  min-height: 40%;
  width:auto;
  height:auto;
  justify-content:center;

}



#myCarousel .carousel-inner{
  background-color: #B0A89F;
}



.carousel-indicators{
  display:none;
}



.info {
  text-align: left;
  display:flex;
  flex-direction:column;
  margin-left:auto;
  margin:1%;
  justify-content:center;
  margin-bottom:auto;

}

.infoTitle {
  margin-bottom:auto;
  margin:1%;
}

.infoWriting {
  margin-bottom:auto;
  margin:1%;
}

#cover_art {
  height: auto; 
  width: auto; 
  width: 500px; 
  height: 500px;
}