.top {
  background-color: rgb(123, 123, 123);
  border:5px solid #852020;
}

.middle {
  display: flex;
  flex-wrap: nowrap;
  background-color: #852020;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle .topInfo{
flex-direction: column;
width : 50%;
}

.middle div {
background-color: #f1f1f1;
text-align: center;
}

.middle .albumImage img{
width:90%;
}

.middle .albumInfo{
font:Arial;
text-align:left;
}

.middle .albumInfo > p{
margin:10px
}

.middle .albums{
width:50%;
display: flex;
flex-direction: column;
flex-wrap:  nowrap;
justify-content:space-evenly;
}

.middle .albums > img{
  width:90%
}

.middle .albums .topAlbum{
display: flex;
flex-shrink: 1;
flex-direction: column;
margin: 1%;
text-align:left;
flex-basis: auto
}

.middle .topAlbum .topAlbumInfo{
text-align:left;
}
.middle .topAlbum .topAlbumImage{
min-width: auto;
flex-shrink: 1;
}

#cover_art {
  height: auto; 
  width: auto; 
  width: 500px; 
  height: 500px;
}