body {
    background-color: black;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #c42f2f;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #901600;
    color: black;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #5a0c00;
    color: rgb(217, 217, 217);
  }

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav a.login {
    float:right;
}

.top {
    background-color: rgb(123, 123, 123);
    border:5px solid #852020;
}

.middle {
    float:center;
    width: 720px;
    background-color: #c42f2f;
    transform: translate(25%, 0);
    margin:auto;
}
.middle h2{
    text-align: left;
}

.middle h3{
    text-align: left;
}

.middle h4{
    text-align: left;
}

.middle img{
    width: 700px;
    margin:auto;
}