<!DOCTYPE	html>
{% extends 'navbar_base.html' %}
{% load static %}


{% block styles_import %}  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'music_review/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'music_review/explore.css' %}" />
{% endblock %}


<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




{% block body %}
<div class = "container">
<!-- filters -->
<div class = "filter">
  <div>
    <h3>Filter</h3>
  </div>

  <div id="ratingFilter">
  <select id="ratingSelect">
    <option value="">Select a rating</option>
    {% for rating in ratings %}
    <option value="{{ rating }}">At least {{ rating }} stars</option>
    {% endfor %}
  </select>
  </div>

  <div id="albumNameFilter">
  <input type="text" id="albumNameInput" placeholder="Search by album...">
  </div>

  <div id="artistNameFilter">
  <input type="text" id="artistNameInput" placeholder="Search by artist...">
  </div>

</div>

  

<!--  The section below is what ajax refreshes so it need to be in a separate template -->
<div class="albumsDiv">
  {% include 'review_site/_explore_albums.html' %}
</div>

   
<!-- script for ajax filter -->
<script>
  $(document).ready(function(){
    // Function to handle filtering
    function filterReviews() {
      console.log("change detected!");
        // Get the current values of the inputs
        var selectedRating = $('#ratingSelect').val();
        var albumName = $('#albumNameInput').val();  
        var artistName = $('#artistNameInput').val();

        $.ajax({
            url: '{% url "review_site:explore" %}',
            data: {
                // Send the ratings and names as part of the request
                'rating': selectedRating,
                'album_name': albumName,
                'artist_name': artistName 
            },
            success: function(response) {
                $('.albumsDiv').html(response.html);  // Update the albums container
            }
        });
    }

    // Bind the filterReviews function to changes in both the rating select and the album name input
    $('#ratingSelect').change(filterReviews);
    $('#albumNameInput').on('input', filterReviews);  // Trigger filtering as the user types
    $('#artistNameInput').on('input', filterReviews);
});
</script>
</div>
{% endblock %}


