{% load static %}
<!DOCTYPE	html>	

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'music_review/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'music_review/post_review.css' %}" />

  </head>

  <body>
    <div class = "topnav">
      <a class = "active" href="#index">Home</a>
      <a href = "index/explore">Explore</a>
      <a href = "postreview">Post a Review</a>
      <a href  =  "#profile">Profile</a>
      <input type="text" placeholder="Search...">
      <a class = "login" href="#login">Login</a>
    </div>

    <div class = "middle">
        <div class = "heading">
          <h1>Write a Review</h1>
        </div>

        <div class = "review">
          <div>
            <p>Album/Track Name</p>
            <input type="review" value="">

          </div>

          <div>
            <p>Album Name</p>
            <input type="review" value="">

          </div>
          
          <div>
            <p>Rating</p>
            <input type="number" class="rating" name="rating" min="1" max="5">

          </div>

          <div>
            <p>Review</p>
            <textarea class="w3review" name="review" rows="4" cols="50"></textarea>
          </div>

          <div>
            <button onclick="myFunction()" class = "submit">Submit</button>
          </div>

        </div>
    </div>
  </body>

</html>