{% extends 'navbar_base.html' %}
{% load static %}


{% block body %}
  <div class = "middle">
        <div class = "heading">
          <h1>Write a Review</h1>
        </div>

        {% if user.is_authenticated %}
        <form id="add_review" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
              {{ form.as_p }}
            <input type="submit" name="submit" value="Post Review" />
        </form>

        {% else %}
          <p>Please register or login</p>
          <a class = "login" href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">Register</a>
        {% endif %}


        </div>
    </div>
{% endblock %}